/*Ejercicio 1*/
CREATE TABLE ESPECIES (
    ID_ESPECIE D_ID GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    DESCRIPCION D_CADENA80 NOT NULL,
    NUMERO_BONSAIS INT DEFAULT 0 NOT NULL
);

/*Ejercicio 2*/
ALTER TABLE BONSAIS
	ADD ID_ESPECIE D_ID;
    
ALTER TABLE BONSAIS
    ADD FOREIGN KEY (ID_ESPECIE)
		REFERENCES ESPECIES (ID_ESPECIE);
        
ALTER TABLE BONSAIS
	ALTER ID_ESPECIE POSITION 4;
    
/*Ejercicio 3*/
ALTER TABLE EXP_BON
	ADD CONSTRAINT pk_id_exp_bon PRIMARY KEY (id_exp_bon);
    
ALTER TABLE EXP_BON
	ADD FOREIGN KEY (id_exposicion)
	REFERENCES EXPOSICIONES (id_exposicion);
    
ALTER TABLE EXP_BON
	ADD FOREIGN KEY (id_bonsay)
	REFERENCES BONSAIS (id_bonsai);
    
/*Ejercicio 4*/
ALTER TABLE CUOTAS
	ADD CONSTRAINT const_fecha_pago CHECK (FECHA_PAGO >= FECHA_CUOTA);
    
/*Ejercicio 5*/
ALTER TABLE EXP_BON
	ADD CONSTRAINT const_unique_bonsai_exp UNIQUE (ID_EXPOSICION, ID_BONSAY);
    
/*Ejercicio 6*/
ALTER TABLE TRATAMIENTOS
	ALTER IMPORTE SET DEFAULT 10;
    
ALTER TABLE TRATAMIENTOS
	ALTER IMPORTE DROP DEFAULT;
    
/*Ejercicio 7*/
ALTER TABLE AFICIONADOS
	ADD DIRECCION_COMPLETA varchar(140) -- Para asegurar que quepa correctamente
		COMPUTED BY (DIRECCION || ', ' || POBLACION);

/*Ejercicio 8*/
ALTER TABLE EXP_BON
	ALTER PUESTO TO lugar_ocupacion;
    
ALTER TABLE EXP_BON
	ALTER lugar_ocupacion TYPE D_CADENA80;
    
/*Ejercicio 9*/
CREATE DOMAIN DFECHASISTEMA AS DATE
	DEFAULT CURRENT_DATE
    CHECK (VALUE <= CURRENT_DATE);
