select;
/*Insertar el propietario Agustín que es de Antequera y con NIF: 66667777J*/
insert into propietarios (nif, nombre, direccion, poblacion)
	values ('66667777J', 'Agustin', 'Calle de Agustin', 'Antequera');
commit; -- Importante, no poner tildes en las cadenas de texto

select * from propietarios;

/*Insertar a Leocadia, con nif 55667788V y es de Archidona
y nos arrepentimos después de crearla*/
insert into propietarios (nif, nombre, direccion, poblacion)
	values ('55667788V', 'Leocadia', 'Calle de Leocadia', 'Archidona');
rollback;

/*Inserto Leocadia, esta vez estando seguros.*/
insert into propietarios (nif, nombre, direccion, poblacion)
	values ('55667788V', 'Leocadia', 'Calle de Leocadia', 'Archidona');
commit;

-- Raulillo
insert into inquilinos (nif, nombre, direccion, poblacion)
	values ('234222G', 'Raulillo', 'Calle Ejido 99', 'Archidona');
commit;

/*Insertar sin el campo dirección*/
insert into inquilinos (nif, nombre, poblacion)
	values ('234222G', 'Raulillo', 'Archidona')
commit;

/*Insertar sin el campo población*/
insert into inquilinos (nif, nombre, direccion)
	values ('234222G', 'Raulillo', 'Calle Ejido 99')
commit;

/*Insertar con población nula*/
commit;

/*Insertar un inquilino indicando el id directamente (sin autoincremento)*/
commit;

/*Hacemos inserciones. Cuando el autonumérico llegue al id que hemos insertado
manualmente nos fallará porque la clave principal solo puede ser única, no
se permite 2 veces el mismo número*/
commit;

/*Inserción múltiple: Resulta que el propietario con id 5 pasa también a ser inquilino*/
-- Obtengo los datos que voy a insertar
insert into inquilinos (nif, nombre, direccion, poblacion)
	select nif, nombre, direccion, poblacion
    	from propietarios
        where id_propietario = 5;
commit;

/*Los propietarios con id 1 a 3 son también inquilinos pero con población en loja*/
insert into inquilinos (nif, nombre, direccion, poblacion)
	select nif, nombre, direccion, 'loja'
		from propietarios
    	where id_propietario between 1 and 3;
commit;

/*CREAR DOMINIOS*/
create domain DENTERO integer;

/*CREAR TABLAS*/

/*Creamos la tabla estadisticas
Almacena las estadisticas de reparaciones por meses*/
create table estadisticas (
	id_estadistica d_id generated by default as identity not NULL,
    anno DENTERO default 2024 not null,
    mes DENTERO default 1 not NULL,
    n_reparaciones DENTERO default 0 not null,
    importe_base d_dinero default 0.0 not null,
    importe_iva d_dinero default 0.0 not null);
    
select * from estadisticas;

/*Insertar las estadísticas de las reparaciones de enero del 24*/
select  2024, 1, count(*),
        coalesce(sum(base), 0.0),
        coalesce(sum(base * iva_por / 100), 0.0)
    from reparaciones
    where extract(year from fecha) = 2024
      and extract(month from fecha) = 1;
          
insert into estadisticas (anno, mes, n_reparaciones, importe_base, importe_iva)
    select 2024, 1, count(*),
    		coalesce(sum(base), 0.0),
    		coalesce(sum(base * iva_por / 100), 0.0)
        from reparaciones
        where extract(year from fecha) = 2024
          and extract(month from fecha) = 1;
commit;

/*BORRAR ESTADÍSTICAS, SENTENCIA DELETE: Funciona igual que una sentencia select
pero sin elegir las columnas*/

/*queremos borrar todas las estadísticas*/
delete from estadisticas;
commit;

/*Vamos a añadir las estadísticas de todos los años y meses donde haya reparaciones*/
select  extract(year from fecha), extract(month from fecha), count(*),
        coalesce(sum(base), 0.0),
        coalesce(sum(base * iva_por / 100), 0.0)
    from reparaciones
	group by 1, 2;

insert into estadisticas (anno, mes, n_reparaciones, importe_base, importe_iva)
    select  extract(year from fecha), extract(month from fecha), count(*),
            coalesce(sum(base), 0.0),
            coalesce(sum(base * iva_por / 100), 0.0)
        from reparaciones
        group by 1, 2;
commit;

/*ACTUALIZAR CELDAS, SENTENCIA UPDATE: Funciona igual que una sentencia select
pero con "set" para modificar*/

/*Por ejemplo: Tenemos errores y los iva_por en reparaciones negativos hay que
ponerlos en positivo*/
select r.iva_por
	from reparaciones r
    where iva_por < 0;

update reparaciones r
	set r.iva_por = abs(r.iva_por)
    where iva_por < 0;
commit;

/*Fijar el precio de habitaciones al máximo del precio de los alquileres
de esa habitación, las que no tienen alquiler se pone 200*/
select id_habitacion, precio,
		(select coalesce(max(a.precio), 200)
        	from alquileres a
        	where a.ID_HABITACION = h.ID_HABITACION)
	from habitaciones h;
    
update habitaciones h
	set precio = coalesce((select max(a.precio)
        	from alquileres a
        	where a.ID_HABITACION = h.ID_HABITACION), 200);
commit;
    
-- quiero poner a 0 todos los precios que están a 200
select id_habitacion, precio, 0
	from habitaciones h
    where precio = 200;
    
update habitaciones h
	set precio = 0
    where precio = 200;
commit;

-- en vez de 200 se queda con el precio original de la habitacion
select id_habitacion, precio, coalesce(
		(select max(a.precio)
        	from alquileres a
        	where a.ID_HABITACION = h.ID_HABITACION), precio)
	from habitaciones h;

/*Resulta que tengo un nuevo piso en la calle 'C/ Puerta 23', de 'Antequera'
que es del mismo propietario del piso con id = 3
Insertar este nuevo piso*/

select id_propietario
	from pisos
	where id_piso = 3;

insert into pisos (id_propietario, direccion, poblacion)
	select id_propietario, 'C/ Puerta 23-B', 'Antequera'
				from pisos
				where id_piso = 3;
commit;















/**/