/* tabla profesores con check y default */

create table profesoresA (
	id_profesor d_id generated by default as identity,
    nif d_nif not null, 
    nombre d_cadena60,
    poblacion d_cadena40 default 'Antequera'
);


alter table profesoresA add constraint pk_profesoresA primary key (id_profesor);

alter table profesoresA add constraint u_profesresA1 unique (nif);


/* un check que dice que el DNi tiene que estrar formado entre 4 y 8 numeros */
alter table profesoresA add constraint ck_profesoresA_1 check (nif similar to '[0-9]{4,8}');


insert into profesoresA (nif, nombre)
	values ('111', 'Julia');
commit;

select *
	from profesoresA;
    
insert into profesoresA (nif, nombre, poblacion)
	values ('112', 'Luisa', null);
commit;


insert into profesoresA (nif, nombre, poblacion)
	values ('1113', 'Vicente', 'Archidona');
    commit;
    
--crear la tabla profesoresb (copia de profesores a) sin cheeck ni default   
--Se va a simular el autonumérico 

create table profesoresB (
	id_profesor d_id,
    nif d_nif not null, 
    nombre d_cadena60,
    poblacion d_cadena40 
);


alter table profesoresB add constraint pk_profesoresB primary key (id_profesor);

alter table profesoresB add constraint uq_profesresB1 unique (nif);    



--
create table profe (
	nombre d_cadena60 not null,
    posicion d_entero default 0,
    numero d_entero default 0);



set term ^;
CREATE TRIGGER bi_profe_01
BEFORE INSERT 
POSITION 1
ON profe
AS
BEGIN
	new.posicion = 1;
    new.numero = new.numero + 1;
END^ 
set term ;^



set term ^;
CREATE TRIGGER bi_profe_02
BEFORE INSERT 
POSITION 1
ON profe
AS
BEGIN
	new.posicion = 2;
    new.numero = new.numero + 1;
END^ 
set term ;^


insert into profe (nombre)
	values ('Vicente');
commit;

select * from profe;


/* impedir que se pueda borrar y cambiar el nombre al profesor Vicente */
insert into profe (nombre)
	values ('Enrique');
commit;
 
-- definir la excepciones

create exception vicente_ND  'no se puede borrar a Vicente';
create exception vicente_NU  'no se puede modificar a Vicente';

-- empezar con Borrar
set term ^;
CREATE or alter TRIGGER bd_profe_01
BEFORE delete
POSITION 1
ON profe
AS
BEGIN
	if (old.nombre = 'Vicente') then
      exception vicente_ND;
      
END^ 
set term ;^


-- empezar con Modificar
set term ^;
CREATE or alter TRIGGER bu_profe_01
BEFORE update
POSITION 1
ON profe
AS
BEGIN
	if (old.nombre = 'Vicente') then
      exception vicente_NU;
      
END^ 
set term ;^

-- prueba con Enrique

update profe
	set nombre = 'Enrique Jesús'
    where nombre = 'Enrique';
commit;

select * from profe;


delete from profe
	where nombre starting with 'Enrique';
commit;

-- prueba con vicente

update profe
	set nombre = 'Vicente Ramon'
    where nombre = 'Vicente';
commit;

select * from profe;


delete from profe
	where nombre = 'Vicente';
commit;

--- Borrado de los triggers de 'Vicente' y construcción de un único trigger

drop trigger bd_profe_01;
drop trigger bu_profe_01;


set term ^;
CREATE or alter TRIGGER bud_profe_01
BEFORE  update or delete
POSITION 1
ON profe
AS
BEGIN
	if (old.nombre = 'Vicente') then
      if (updating) then
	      exception vicente_NU;
      ELSE if (DELETING) then  
          exception vicente_ND;
      
END^ 
set term ;^

update profe
	set nombre = 'Vicente Ramon'
    where nombre = 'Vicente';
commit;

select * from profe;


delete from profe
	where nombre = 'Vicente';
commit;

insert into profe(nombre) values ('Vicente');
commit;

create table articulos (
 id_articulo d_id generated by default as IDENTITY,
 descripcion d_cadena60 not null,
 precio d_dinero not null,
 unidades D_ENTERO not null,
 unidades_vendidas d_entero default 0 not null ,
 ventas_totales d_dinero  default 0 not null 
);

alter table articulos add constraint pk_articulos primary key (id_articulo);

create table logs (
	fecha_hora timestamp not null,
    definicion_operacion varchar(200)
);


/* Construir trigger que cada vez que inserte, borre o modifique un articulo
  se guarde el tipo de operacion, el nombre de la table y la fecha-hora en la
   tabla logs */

set term ^;
CREATE or alter TRIGGER adiu_articulos_01
after  update or insert or delete
POSITION 1
ON articulos
AS
BEGIN
	
 insert into logs (fecha_hora, definicion_operacion)
 	values(CURRENT_TIMESTAMP,
        IIF(deleting, 'Borrado ', iif(inserting, 'Inserción ', 'Modificación') )   || '  articulos' );
      
END^ 
set term ;^

insert into articulos (descripcion, precio, unidades, unidades_vendidas, ventas_totales)
	 values ('a2', 10, 0, 0,0);
commit;

select * 
	from articulos;


select *
	from logs;


create table ventas (
	id_venta d_id generated by default as identity,
    id_articulo d_id not NULL,
    precio d_dinero not null,
    unidades d_entero not null);
    
alter table ventas add constraint pK_VENTAS primary key (id_venta);

alter table ventas add constraint fk_ventas_articulos
           foreign key (id_articulo) 
           references articulos(id_articulo)
            on delete no action
            on update cascade;
/*


Con dos cursores
Procedimeinto alamacenado seleccionable que recorra todas las posibles parejas
 de inquilinos y propietarios mostrando nombre y nif de cada uno. 
 Ordenados por id_propietario y una columna automerica que vaya contando
  inquilinos por el propietario. Además se mostrará el numero de alquileres 
  que tengan esos dos individuos.
*/


set term^;
create or alter procedure parejasInqProp3()
	returns(inqPorProp dentero, 
            nombreP d_cadena60, 
            nifP d_nif, 
            nombreI d_cadena60, 
            nifI d_nif, 
            numAlq dentero)
as
    declare id_inquilino d_id;
    declare id_propietario d_id;
	declare cursorProp cursor for (select id_propietario,nombre, nif
    									from propietarios
                                        order by id_propietario);
    declare cursorInq cursor for (select i.id_inquilino, i.nombre, i.nif
    									from inquilinos i
                                        order by id_inquilino);
    
begin
	    
   	    open cursorProp;
    
    	fetch cursorProp into id_propietario, nombreP, nifP;
        
        while(row_count=1) do
        begin
        		inqPorProp=0;
				open cursorInq; 
                fetch cursorInq into id_inquilino, nombreI, nifI;     
               	WHILE(row_count=1)do
                begin
            		
    				inqPorProp=inqPorProp+1;
                    numalq = (select count(*)
                                from alquileres a 
                                  inner join habitaciones h using (id_habitacion)
                                  inner join pisos p using (id_piso)
                                  where p.id_propietario = :id_propietario and 
                                        a.id_inquilino = :id_inquilino);
        			suspend;
                    fetch cursorInq into id_inquilino, nombreI, nifI;
        
            	end
            	close cursorInq;
         
        
            	fetch cursorProp into id_propietario, nombreP, nifP;
        end
        
	close cursorProp;

END^
set term;^    


select *
	from parejasInqProp3;        


/* con cursores implicitos */

set term^;
create or alter procedure parejasInqProp4()
	returns(inqPorProp dentero, 
            nombreP d_cadena60, 
            nifP d_nif, 
            nombreI d_cadena60, 
            nifI d_nif, 
            numAlq dentero)
as
    declare id_inquilino d_id;
    declare id_propietario d_id;
    declare total_alquileres d_entero = 0;
	
begin
	    
   	    for select id_propietario,nombre, nif
    									from propietarios
                                        order by id_propietario
                                        into id_propietario, nombreP, nifP
        DO
        begin
        		inqPorProp=0;
                total_alquileres = 0;
				for select i.id_inquilino, i.nombre, i.nif
    									from inquilinos i
                                        order by id_inquilino 
                						into id_inquilino, nombreI, nifI
                Do
                begin
            		inqPorProp=inqPorProp+1;
                    numalq = (select count(*)
                                from alquileres a 
                                  inner join habitaciones h using (id_habitacion)
                                  inner join pisos p using (id_piso)
                                  where p.id_propietario = :id_propietario and 
                                        a.id_inquilino = :id_inquilino);
                    total_alquileres = total_alquileres + numalq;
        			suspend;       
            	end
                
                -- vamos a sacar un estadistica o linea por propietario
                -- normalmente se llama pie
                nifi = '-------';
                nombrei = 'Total Alquileres:' ;
                numalq = total_alquileres;    
                suspend;
        end

END^
set term;^    


select *
	from parejasInqProp4;
    
/* 2. Procedimiento almacenado seleccionable que usando dos cursores explícitos 
nos muestre 
   id, nif, nombre, direccion, población y tipo(tipo de registros) 
   de los inquilinos y reparadores. 
   Se ordenadarán ambos cursores por nif y 
   se hara una fusión o mezcla de ambos manteniendo el orden por NIF.
*/

set term ^;

CREATE or alter PROCEDURE fusion_inquilinos_reparadores
RETURNS (
    id d_id,
    nif D_NIF,
    nombre D_CADENA60,
    direccion D_CADENA80,
    poblacion D_CADENA40,
    tipo D_CADENA20
)
AS
DECLARE c_inq CURSOR FOR 
		(SELECT id_inquilino AS id, nif, nombre, direccion, 
        			poblacion, 'Inquilino' AS tipo 
                FROM Inquilinos 
                ORDER BY nif);
DECLARE c_rep CURSOR FOR 
		(SELECT id_reparador AS id, nif, nombre, direccion, 
        			poblacion, 'Reparador' AS tipo 
                FROM Reparadores 
                ORDER BY nif);
declare hay_inquilino boolean;
DECLARE VARIABLE id_inq INT;
DECLARE VARIABLE nif_inq VARCHAR(10);
DECLARE VARIABLE nombre_inq VARCHAR(60);
DECLARE VARIABLE direccion_inq VARCHAR(100);
DECLARE VARIABLE poblacion_inq VARCHAR(40);
DECLARE VARIABLE tipo_inq VARCHAR(20);
declare hay_reparador boolean;
DECLARE VARIABLE id_rep INT;
DECLARE VARIABLE nif_rep VARCHAR(10);
DECLARE VARIABLE nombre_rep VARCHAR(60);
DECLARE VARIABLE direccion_rep VARCHAR(100);
DECLARE VARIABLE poblacion_rep VARCHAR(40);
DECLARE VARIABLE tipo_rep VARCHAR(20);
BEGIN
    OPEN c_inq;
    OPEN c_rep;
    
    FETCH c_inq INTO :id_inq, :nif_inq, :nombre_inq, :direccion_inq,
    				 :poblacion_inq, :tipo_inq;
    hay_inquilino=(ROW_COUNt=1);
    
    FETCH c_rep INTO :id_rep, :nif_rep, :nombre_rep, :direccion_rep,
    				 :poblacion_rep, :tipo_rep;
    hay_reparador=(ROW_COUNt=1);
    WHILE (hay_inquilino OR hay_reparador) DO
    BEGIN
        -- si hay inquilino y reparador
        
        if (hay_inquilino and hay_reparador) then
           begin
              if (nif_rep<=nif_inq) then
                begin
                  id=id_rep;
                  nif=nif_rep;
                  nombre=nombre_rep;
                  direccion=direccion_rep;
                  poblacion=poblacion_rep;
                  tipo='reparador';
                  suspend;
                  
                  --obtenemos el siguiente inquilino
                  FETCH c_rep INTO :id_rep, :nif_rep, :nombre_rep, :direccion_rep,
                       :poblacion_rep, :tipo_rep;
                  hay_reparador=(ROW_COUNt=1);
               
                end    
               else
              begin
           		--generamos la fila
                id=id_inq;
                nif=nif_inq;
                nombre=nombre_inq;
                direccion=direccion_inq;
                poblacion=poblacion_inq;
                tipo='inquilino';
                suspend;
                
                --obtenemos el siguiente inquilino
           		FETCH c_inq INTO :id_inq, :nif_inq, :nombre_inq, :direccion_inq,
    				 :poblacion_inq, :tipo_inq;
    			hay_inquilino=(ROW_COUNt=1);
              end   
           
           end
    
    	--solo hay inquilino y no reparadores
        if (hay_inquilino and not hay_reparador) then
           begin
           		--generamos la fila
                id=id_inq;
                nif=nif_inq;
                nombre=nombre_inq;
                direccion=direccion_inq;
                poblacion=poblacion_inq;
                tipo='inquilino';
                suspend;
                
                --obtenemos el siguiente inquilino
           		FETCH c_inq INTO :id_inq, :nif_inq, :nombre_inq, :direccion_inq,
    				 :poblacion_inq, :tipo_inq;
    			hay_inquilino=(ROW_COUNt=1);
                
                 
    
           end
        
        --solo hay reparadores y no inquilinos
        if (hay_reparador and not hay_inquilino) then
           begin
                id=id_rep;
                nif=nif_rep;
                nombre=nombre_rep;
                direccion=direccion_rep;
                poblacion=poblacion_rep;
                tipo='reparador';
                suspend;
                
                --obtenemos el siguiente inquilino
           		FETCH c_rep INTO :id_rep, :nif_rep, :nombre_rep, :direccion_rep,
    				 :poblacion_rep, :tipo_rep;
    			hay_reparador=(ROW_COUNt=1);
           
           end
        
    
    END
    CLOSE c_inq;
    CLOSE c_rep;
END^
SET TERM ;^            

select * from fusion_inquilinos_reparadores;

/*
3. A partir de la siguiente tabla:
   create table tareas 
   (id_tarea d_id generated by default as identity,
     tabla d_cadena40 not null,
    campo d_cadena40 not null);

En esta tabla se guarda el nombre de una tabla y el nombre de un campo.
Y esta relleno previamente con combinaciones posibles

Construir un procedimiento almacenado seleccionable ejecutarTarea al que se le pasa
el id_tarea y  devuelve los regisgtros del select:
	 'select campo from tabla order by campo'
en una cadena varchar(300) 
 
Comprobar que existe esa tabla de usuario y ese campo en la base de datos.

Se lanzarán excepciones sí:
    • si no existe la tarea
    • si no existe la tabla
    • si no existe el campo dentro de la tabla.    
    
*/

create table tareas 
   (id_tarea d_id generated by default as identity,
     tabla d_cadena40 not null,
    campo d_cadena40 not null);

alter table tareas 
     add constraint pk_tareas primary key (id_tarea);
     
insert into tareas (tabla, campo)
       values ('propietarios', 'nif');
insert into tareas (tabla, campo)
       values ('habitaciones', 'precio');
insert into tareas (tabla, campo)
       values ('propietarios', 'provincia');
commit;  

select * from tareas;  


create exception no_existe_tarea 'No existe tarea';  
create exception no_existe_campo 'No existe campo';
create exception no_existe_tabla 'No existe tabla';

set term^;
create or alter procedure ejecutarTarea(id_tarea d_id)
returns (
	result VARCHAR(300)
)
as
	declare variable existe_tabla boolean;
    declare variable existe_campo boolean;
    declare variable sentencia varchar(200);
    declare variable tabla varchar(40);
    declare variable campo varchar(40);
begin
	select tabla, campo from tareas
    	where id_tarea = :id_tarea
        into tabla, campo;
        
    if (tabla is null) then
    	EXCEPTION NO_EXISTE_TAREA;
        
    existe_tabla = exists (
    					select 1 from rdb$relations
                        	where rdb$relation_name = upper(:tabla)
    );
    
    if (not existe_tabla) then
    	EXCEPTION NO_EXISTE_TABLA 'no existe la tabla: ' || tabla;
        
    existe_campo = exists (
    					select 1 from rdb$relation_fields
                        	where RDB$RELATION_NAME = upper(:tabla)
                            AND RDB$FIELD_NAME = upper(:campo)
	);
    
    if (not existe_campo) then
    	EXCEPTION NO_EXISTE_CAMPO 'No existe el campo: ' || 'campo';
        
        
  sentencia = 'select ' || 'cast('  || campo || ' as varchar(300))' 
              || ' from ' || tabla ||  
              ' order by ' || campo;
              
  for execute statement sentencia into :result 
  do
  begin
    suspend;
  end  				
end^
set term;^

-- error la tarea 100 no esta
select * from ejecutarTarea(100);

--- error no existe la tabla viajeros
select * from ejecutarTarea(4);

-- no existe el campo
select * from ejecutarTarea(3);

-- ejecución correcta con campo varchar
select * from ejecutarTarea(1);

--ejecución correcta con campo decimal
select * from ejecutarTarea(2);
 
select precio 
	from habitaciones;

/* A cada vez que se hace una venta se restan las unidades a articulos, se suman
a unidades vendidas y de aumenta la ventas totales */

set term ^; 
create or alter trigger ai_ventas01
after insert
position 1
on ventas
as
	
begin

	

	update articulos
    	set unidades=unidades - :new.unidades,
        	unidades_vendidas=unidades_vendidas + :new.unidades,
        	ventas_totales=ventas_totales  + :new.unidades * :new.precio
        where id_articulo= new.id_articulo;
    
END^
set term;^

select * from articulos;

insert into ventas(id_articulo, precio, unidades)
	values(2, 234, 4);
commit;

/* B vamos a impedir que se borren y se mofiquen las ventas */

create exception ventas_ND 'No se puede borrar ninguna venta';
create exception ventas_NU 'No se puede modificar ninguna venta';

-- Crear el trigger para controlar que no se borre o modifique ninguna venta
set term ^;
create or alter trigger bud_ventas_01
before update or delete
position 1 
on ventas as
begin

    if (updating) then
        exception ventas_NU;
    else
        exception ventas_ND;
        
end^
set term ;^


set term ^;
CREATE or alter TRIGGER bud_ventas_01
before update or delete
POSITION 1
ON ventas
AS
BEGIN
   
        EXCEPTION No_borra_Actu;
END^
set term ;^


update ventas 
 set unidades = 1;


delete from ventas;

/* C vamos a desactivar los triggers-trigger del ejercicio anterior y si se borra
  o modifica una venta se anula lo que se hace en la inserción */
  
  
-- vamos a desactovar el trigger anterior:
alter TRIGGER bud_ventas_01 inactive;
update ventas 
 set unidades = 1;


delete from ventas;

rollback;

select *
	from ventas;

  
  set term ^;

create trigger adiu_ventas_01
after delete or insert or update
on ventas
as
begin

	if (inserting or updating) then
        begin
        	update articulos set
                unidades= unidades-new.unidades ,
                unidades_vendidas= unidades_vendidas+new.unidades,
                ventas_totales= ventas_totales+new.unidades*new.precio
              where id_articulo=new.id_articulo;  
                    
        end

	if (deleting or updating) then
        begin
        	update articulos set
                unidades= unidades+old.unidades ,
                unidades_vendidas= unidades_vendidas-old.unidades,
                ventas_totales= ventas_totales-old.unidades*old.precio
              where id_articulo=old.id_articulo;  
                    
        end

    
end^



set term ;^


-- crear un trigger que no permita asignar a un propietario la poblacion 'Antequera' y 
-- la direccion contenga 'carrera'

create exception carrera_antequera 'No se admiten vecinos de la calle carrera en Antequera';
set term ^;
create or alter trigger biu_propietarios_01 
before insert or update
position 0 
on propietarios as
begin
	if(upper(new.poblacion) = 'ANTEQUERA' and upper(new.direccion) containing 'CARRERA') then
	    exception CARRERA_ANTEQUERA;
    
end^
set term ;^

--error
insert into propietarios (nif, nombre, direccion, poblacion, total_reparaciones)
	values ('999', 'Pepito Morchilla', 'C/ Carrera Madre del Carmen 12', 'AnteQuera',0);
commit;

-- valido
insert into propietarios (nif, nombre, direccion, poblacion, total_reparaciones)
	values ('999', 'Pepito Morchilla', 'C/ Carrera Madre del Carmen 12', 'Archidona',0);
commit;

--valido
insert into propietarios (nif, nombre, direccion, poblacion, total_reparaciones)
	values ('1999', 'Valverde1', 'C/ C. Madre del Carmen 12', 'AnteQuera',0);
commit;

--error
update propietarios
	set poblacion = 'Antequera'
    where nif = '999';
commit;

--- desactivo el trigguer
alter trigger biu_propietarios_01 inactive;

--- activo el trigguer
alter trigger biu_propietarios_01 active;

-- A pepito le quiero el nombre y quitarle el feo apodo

select * from propietarios;


--- ajuste del trigger

create exception carrera_antequera 'No se admiten vecinos de la calle carrera en Antequera';
set term ^;
create or alter trigger biu_propietarios_01 
before insert or update
position 0 
on propietarios as
begin
	if (inserting and upper(new.poblacion) = 'ANTEQUERA' and upper(new.direccion) containing 'CARRERA') then
	    exception CARRERA_ANTEQUERA;
    if (updating 
        and upper(new.poblacion) = 'ANTEQUERA' 
        and  upper(new.direccion) containing 'CARRERA'
        and (new.poblacion != old.poblacion or new.direccion != old.direccion)) 
        then
	    exception CARRERA_ANTEQUERA;
    
end^
set term ;^

-- ahora funciona
update propietarios
	set nombre = 'Pepito'
    where nif = '999';
commit;

select *
	from propietarios;
    
-- En las inserciones de reparaciones hay que hacer tres gestiones (uno o varios triggers, siempre
-- el numero minimo de triggers):
--       1.- El importe se tiene que calcular automaticamente a partir de la base y el iva_por
--                  (importe= base* (1+iva_por/100))
--       2.- La base y el iva no pueden ser negativos
--       3.- Se debe actualizar el campo total_reparaciones del reparador correspondiente  

create exception base_iva_negativo 'La base y el iva no pueden ser negativos';

set term ^;
create trigger bi_reparaciones_01 
	before insert or update
	position 0 
	on reparaciones 
as
begin
	if(new.iva_por < 0 or new.base < 0) then
	    exception base_iva_negativo;
    
    new.importe = new.base * (1.00 + new.iva_por / 100.00);
end^
set term ;^

insert into reparaciones (id_piso, id_reparador, fecha, base, iva_por, importe)
  values (2, 3, current_date , 1000, 16, 1000);
commit;

select * from reparaciones

set term ^;
create trigger au_reparaciones_02
after insert
position 0 on reparaciones as
begin
	update reparadores
    	set total_facturado = total_facturado + new.importe
        where id_reparador = new.id_reparador;
end^
set term ;^

-- mejorar el trigger tratando modificaciones y borrados
set term ^;
create or alter trigger au_reparaciones_02
after insert or delete or update
position 0 on reparaciones as
begin
 if (inserting or updating) then
	update reparadores
    	set total_facturado = total_facturado + new.importe
        where id_reparador = new.id_reparador;
  if (deleting or updating) then
	update reparadores
    	set total_facturado = total_facturado - old.importe
        where id_reparador = old.id_reparador;
end^
set term ;^

select * from reparadores;

--No se puede alquilar una habitacion si tiene un alquiler activo.

create EXCEPTION ex_alquiler_activo 'El alquiler esta activo';

set term ^;
CREATE or alter TRIGGER BI_ALQUILERES_03
BEFORE INSERT 
POSITION 0
on ALQUILERES
AS
	DECLARE VARIABLE alquiler_activo INTEGER;
BEGIN
    SELECT COUNT(*)
    FROM Alquileres
    WHERE id_habitacion = NEW.id_habitacion
    INTO :alquiler_activo;

    IF (alquiler_activo > 0) THEN
    BEGIN
        EXCEPTION ex_alquiler_activo;
    END
END^
set term ;^

set term ^;
CREATE or alter TRIGGER BI_ALQUILERES_03
BEFORE INSERT 
POSITION 0
on ALQUILERES
AS
	
BEGIN
    
    IF (exists (SELECT 1
    				FROM Alquileres
    				WHERE id_habitacion = NEW.id_habitacion
                          and activo)) THEN
        EXCEPTION ex_alquiler_activo;
END^
set term ;^

--Un inquilino no puede alquilar una habitacion si no vive en el mismo pueblo

CREATE EXCEPTION NO_VIVE_MISMO_PUEBLO 'El inquilino no es del mismo pueblo';

set term^;
create or alter trigger mismoPuebloInquilino
before insert or update
position 1
on alquileres
as
	declare variable poblacionPiso d_cadena40;
    declare variable poblacionInq d_cadena40;
begin
	poblacionPiso = (
    	SELECT poblacion
        	FROM habitaciones
            JOIN pisos USING (id_piso)
            WHERE id_habitacion = new.id_habitacion
    );
    
    poblacionInq = (
    	SELECT poblacion
        	FROM inquilinos
            WHERE id_inquilino = new.id_inquilino
    );
    
    if (upper(poblacionPiso) != upper(poblacionInq)) then
    	EXCEPTION NO_VIVE_MISMO_PUEBLO;
end^
set term;^

-- Un alquiler de una habitacion no puede hacerse por un importe menor que el de algun alquiler 
-- que ya se haya hecho de la habitacion correspondiente

create exception importeMenor 'El precio tiene que ser superior a todos los anteriores ';
set term^;
create or alter trigger alquilerHabitacion
before insert or update
position 1
on alquileres
as
begin

	if(new.precio <=  any (select precio
    					from alquileres
                        where id_habitacion=new.id_habitacion)) then
    	exception importeMenor;

END^
set term;


select * from alquileres where id_habitacion = 6;

select * from habitaciones

-- error por precio 550
insert into alquileres (id_habitacion, id_inquilino, fecha_inicio, fecha_fin, precio, activo)
values (1, 2, current_date, current_date + 120, 550, true);
commit;


-- que pasa cuando introduzco el primer alquiler a una habitacion
insert into alquileres (id_habitacion, id_inquilino, fecha_inicio, fecha_fin, precio, activo)
values (6, 2, current_date, current_date + 120, 551, true);
commit;


-- Cada vez que en alquileres se cambie el estado de un alquiler se actualizara el 
--campo ocupada
-- de la habitacion correspondiente.

set term^;
create or alter trigger aiud_alquileres
after insert or delete or update
position 1
on alquileres
as
begin

	if (DELETING and old.activo)
      update habitaciones
      	set ocupada = false
        where id_habitacion = old.id_habitacion;
        
    if (UPDATING and new.activo != old.activo)
      update habitaciones
      	set ocupada = new.activo
        where id_habitacion = old.id_habitacion;
        
        
           
    if (inserting and new.activo)
      update habitaciones
      	set ocupada = true
        where id_habitacion = old.id_habitacion;
           

END^
set term;