/* tabla profesores con check y default */

create table profesoresA (
	id_profesor d_id generated by default as identity,
    nif d_nif not null, 
    nombre d_cadena60,
    poblacion d_cadena40 default 'Antequera'
);


alter table profesoresA add constraint pk_profesoresA primary key (id_profesor);

alter table profesoresA add constraint u_profesresA1 unique (nif);


/* un check que dice que el DNi tiene que estrar formado entre 4 y 8 numeros */
alter table profesoresA add constraint ck_profesoresA_1 check (nif similar to '[0-9]{4,8}');


insert into profesoresA (nif, nombre)
	values ('111', 'Julia');
commit;

select *
	from profesoresA;
    
insert into profesoresA (nif, nombre, poblacion)
	values ('112', 'Luisa', null);
commit;


insert into profesoresA (nif, nombre, poblacion)
	values ('1113', 'Vicente', 'Archidona');
    commit;
    
--crear la tabla profesoresb (copia de profesores a) sin cheeck ni default   
--Se va a simular el autonumérico 

create table profesoresB (
	id_profesor d_id not null,
    nif d_nif not null, 
    nombre d_cadena60,
    poblacion d_cadena40 
);


alter table profesoresB add constraint pk_profesoresB primary key (id_profesor);

alter table profesoresB add constraint uq_profesoresB1 unique (nif);    


-- trigger para controlar el autonumérico
-- se va a implementar usando una secuencia

create sequence profesoresB_id;


set term ^;


CREATE TRIGGER BI_PROFESORESB_01
ACTIVE
BEFORE INSERT
ON PROFESORESb
AS 
BEGIN
	IF (NEW.ID_PROFESOR IS NULL) THEN
      	NEW.ID_PROFESOR=NEXT VALUE FOR profesoresB_id;
	
END^

SET TERM ;^
--

INSERT INTO PROFESORESB (NIF, NOMBRE, POBLACION)
      VALUES ('12345678b', 'PROFESOR DE PRUEBA', 'ANTEQUERA');
COMMIT;

SELECT * FROM PROFESORESB;




-- QUIERO QUE CONTINUE EL ID DE PROFESORB POR 21


SET GENERATOR profesoresB_id TO 20;

-- LAS SIGUIENTES INSERCIONES CONTINUARAN POR ID_PROFESOR A 21

INSERT INTO PROFESORESB (NIF, NOMBRE, POBLACION)
      VALUES ('22222222', 'PROFESOR DE PRUEBA 2', 'ANTEQUERA');
COMMIT;

SELECT * FROM PROFESORESB;

-- PONER LA POBLACION POR DEFECTO A 'Antequera' usando un trigger

set term ^;


CREATE TRIGGER BI_PROFESORESB_02
ACTIVE
BEFORE INSERT
ON PROFESORESb
AS 
BEGIN
	IF (NEW.poblacion IS NULL) THEN
      	NEW.poblacion='Antequera';
	
END^

SET TERM ;^
--

INSERT INTO PROFESORESB (NIF, NOMBRE, POBLACION)
      VALUES ('3333333', 'PROFESOR DE PRUEBA 3', 'MOLLINA');
COMMIT;

INSERT INTO PROFESORESB (NIF, NOMBRE)
      VALUES ('444444444', 'PROFESOR DE PRUEBA 4');
COMMIT;

SELECT * FROM PROFESORESB;

-- USO DE LOS TRIGGERS COMO CHECK (COMPRUEBAN UNA CONDICION)

-- EL DNI DEBE TENER ENTRE 4 Y 8 CARACTERES NUMERICOS

-- Creamos una excepcion de DNI_INCORRECTO

create exception DNI_INCORRECTO 'El dni no es válido: debe tener entre 4 y 8 caracteres numerico';


set term ^;


CREATE TRIGGER BI_PROFESORESB_03
ACTIVE
BEFORE INSERT
position 0
ON PROFESORESb
AS 
BEGIN
	IF (NEW.nif not similar to '[0-9]{4,8}') THEN
      	exception dni_incorrecto;
	
END^

SET TERM ;^


INSERT INTO PROFESORESB (NIF, NOMBRE)
      VALUES ('55555', 'PROFESOR DE PRUEBA 5');
COMMIT;

INSERT INTO PROFESORESB (NIF, NOMBRE)
      VALUES ('66', 'PROFESOR DE PRUEBA 6');
COMMIT;


INSERT INTO PROFESORESB (NIF, NOMBRE)
      VALUES ('777777', 'PROFESOR DE PRUEBA 7');
COMMIT;

select * from profesoresb;